---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=k1jIZhi6hKCBjjUdP3c4vSWtejOAuLmK&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Aug 2021 05:27:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=k1jIZhi6hKCBjjUdP3c4vSWtejOAuLmK&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1391940889"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=k1jIZhi6hKCBjjUdP3c4vSWtejOAuLmK&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=817001701"}]}]}'
  recorded_at: Mon, 09 Aug 2021 05:27:48 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b094e04288711c39568ddd8fb78c75b8&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628486869,"sunrise":1628424346,"sunset":1628474722,"temp":295.62,"feels_like":294.86,"pressure":1016,"humidity":36,"dew_point":279.82,"uvi":0,"clouds":53,"visibility":10000,"wind_speed":0.45,"wind_deg":236,"wind_gust":0.89,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1628486880,"precipitation":0},{"dt":1628486940,"precipitation":0},{"dt":1628487000,"precipitation":0},{"dt":1628487060,"precipitation":0},{"dt":1628487120,"precipitation":0},{"dt":1628487180,"precipitation":0},{"dt":1628487240,"precipitation":0},{"dt":1628487300,"precipitation":0},{"dt":1628487360,"precipitation":0},{"dt":1628487420,"precipitation":0},{"dt":1628487480,"precipitation":0},{"dt":1628487540,"precipitation":0},{"dt":1628487600,"precipitation":0},{"dt":1628487660,"precipitation":0},{"dt":1628487720,"precipitati[...]
